dn: olcDatabase={2}hdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: dc={{ openldap_domain.split('.')[0] }},dc={{ openldap_domain.split('.')[1] }}

dn: olcDatabase={2}hdb,cn=config
changetype: modify
replace: olcRootDN
olcRootDN: cn=ldapadm,dc={{ openldap_domain.split('.')[0] }},dc={{ openldap_domain.split('.')[1] }}

dn: olcDatabase={2}hdb,cn=config
changetype: modify
replace: olcRootPW
olcRootPW: {{rootpw.stdout}}