$TTL	2d
$ORIGIN	{{ ns.reverse_zone | upper }}.

@     			IN      SOA  {{ ns.hostname }}.{{ ns.primary_zone }}. admin.{{ ns.hostname }}.{{ ns.primary_zone }}. (
				2017121405 ; Serial
				2H         ; Refresh
				30M        ; Retry
				1W         ; Expire
				1D      )  ; Negative Cache TTL
			
				IN      NS      {{ ns.hostname }}.{{ ns.primary_zone }}. 

{% for host in endpoints %}
{{ host.ip.split('.')[3] }}		IN 		PTR 	{{ host.hostname }}.{{ ns.primary_zone }}.
{% endfor %}
